.btn {
  @include border(transparent, solid, 4px, 1px);

  text-transform: uppercase;

  &__text {
    @include text(700, 16px, $white);
    @include lineHletterS(0, 0.5px);

    &--orange {
      @include text(700, 14px, $orange);
    }
  }

  &--fill {
    background-color: $orange;
    padding: 16px 36px;

    &-primary {
      border-color: $orange;
    }

    &-form {
      padding: 12px 29px;
    }
  }

  &--stroke {
    padding: 16px 36px;

    &-white {
      border-color: $white;
    }

    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}
