.connection {
  &-form {
    &__subtitle {
      @include text(700, 24px, $white);

      padding-bottom: 24px;
    }

    &__label {
      flex-direction: unset;
    }

    &__btn {
      @include maxWmaxH(131px, 44px);

      border-radius: 0 4px 4px 0;
      padding: 12px 20px;
    }
  }
}
