.form {
  background-color: $white;
  border-radius: 4px;

  &__title {
    @include text(700, 28px, $black);
  }

  &__content {
    &--row {
      @include flexEnd;
    }

    &--column {
      padding: 24px 0;
    }
  }

  &-field {
    @include flexColStart;

    &--mb {
      margin-bottom: 20px;
    }

    &__caption {
      @include text(400, 14px, $gray);

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &__input {
      @include border($borderFormField, solid, 4px, 1px);
      @include text(400, 14px, $placeholderColor);
      @include maxWmaxH(245px, 44px);
      @include wh(100vh, 100vh);

      background-color: $bgInputColor;
      padding: 0 15px;

      &--mr {
        margin-right: 24px;
      }

      &--big {
        @include maxWmaxH(414px, 44px);
      }
    }

    &__textarea {
      @include border($borderFormField, solid, 4px, 1px);
      @include text(400, 14px, $placeholderColor);
      @include maxWmaxH(414px, fit-content);
      @include minWminH(414px, 66px);
      @include wh(100%, 66px);

      background-color: $bgInputColor;
      padding: 15px;
    }
  }
}
