.header {
  &-contacts {
    @include flexCenterV;
  }
}

.contacts {
  &-link {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding-left: 52px;

    @include flexColStart;

    &:not(:last-child) {
      margin-right: 35px;
    }

    &__subtitle {
      margin-bottom: 5px;

      @include text(700, 14px, $gray);
    }

    &__value {
      @include text(400, 18px, $gray);
    }
  }
}

#contactImgCall {
  background-image: url('../img/iphone.svg');
}

#contactImgTalk {
  background-image: url('../img/chat.svg');
}
