.main {
  &-content {
    &__title {
      @include text(700, 72px, $black);
      @include lineHletterS(130%, 1px);

      text-transform: uppercase;

      &:not(:last-child) {
        margin-bottom: 25px;
      }

      &--white {
        color: $white;
      }
    }

    &__text {
      @include text(400, 20px, $grayStorm);
      @include lineHletterS(150%, 1px);

      &:not(:last-child) {
        margin-bottom: 60px;
      }

      &--white {
        color: $white;
      }
    }
  }
}
