@import "./../variables";

.main {
  &-content {
    &__title {
      color: $black;
      font-size: 72px;
      font-weight: 700;
      line-height: 130%;
      letter-spacing: 1px;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-bottom: 25px;
      }

      &--white {
        color: $white;
      }
    }

    &__text {
      line-height: 150%;
      font-size: 20px;
      letter-spacing: 1px;
      color: $grayStorm;
      font-weight: 400;

      &:not(:last-child) {
        margin-bottom: 60px;
      }

      &--white {
        color: $white;
      }
    }
  }
}
