.slider {
  &-nav {
    display: flex;

    &__btn {
      @include flexAllCenter;
      @include wh(48px, 48px);

      color: $gray;
      border-radius: 100%;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &-btn {
    &__img {
      @include imgSprite(24px, 24px, currentColor, color);

      display: block;
      color: inherit;

      &--left {
        transform: rotate(180deg);
      }
    }

    &:hover {
      color: $white;
      background-color: $orange;
    }
  }
}
