/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
.header {
  background-color: #ffffff;
  padding: 25px 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__nav {
  margin-left: -112px;
}

html {
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-size: 16px;
  min-width: 320px;
  min-height: 100%;
}
body.lock {
  overflow: hidden;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  cursor: pointer;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  overflow: visible;
  height: 0;
}

details, legend {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

b, strong {
  font-weight: bolder;
}

button, input {
  background-color: transparent;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

button {
  border: none;
  padding: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
}
input::-ms-clear {
  display: none;
}

textarea, select {
  font-family: inherit;
  font-size: inherit;
}

progress {
  vertical-align: baseline;
}

img, svg, video {
  display: inline-block;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

[class*=__container] {
  max-width: 1222px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 46px;
  color: #1e212c;
}
.title--center {
  text-align: center;
}
.title:not(:last-child) {
  margin-bottom: 25px;
}

.description {
  color: #787a80;
  font-weight: 400;
  font-size: 18px;
}
.description--center {
  text-align: center;
}
.description:not(:last-child) {
  margin-bottom: 60px;
}

.section__offset {
  padding: 120px 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}
.nav__link {
  color: #424551;
  font-size: 16px;
  font-weight: 700;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts-link {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  padding-left: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.contacts-link:not(:last-child) {
  margin-right: 35px;
}
.contacts-link__subtitle {
  color: #424551;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
.contacts-link__value {
  color: #424551;
  font-size: 18px;
  font-weight: 400;
}
.contacts-link--call {
  background-image: url("../img/iphone.svg");
}
.contacts-link--talk {
  background-image: url("../img/chat.svg");
}

.hero {
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero--home {
  background-color: #424551;
}
.hero-content {
  padding-top: 217px;
  max-width: 630px;
}
.hero-content__title--orange {
  color: #ff5a30;
}

.main-content__title {
  color: #1e212c;
  font-size: 72px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main-content__title:not(:last-child) {
  margin-bottom: 25px;
}
.main-content__title--white {
  color: #ffffff;
}
.main-content__text {
  line-height: 150%;
  font-size: 20px;
  letter-spacing: 1px;
  color: #787a80;
  font-weight: 400;
}
.main-content__text:not(:last-child) {
  margin-bottom: 60px;
}
.main-content__text--white {
  color: #ffffff;
}

.btn {
  text-transform: uppercase;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
}
.btn__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.btn--fill {
  background-color: #ff5a30;
  padding: 16px 36px;
}
.btn--fill-primary {
  border-color: #ff5a30;
}
.btn--stroke {
  padding: 16px 36px;
}
.btn--stroke-white {
  border-color: #ffffff;
}
.btn--stroke:not(:last-child) {
  margin-right: 25px;
}

.about {
  padding-bottom: 60px;
  background-color: #ffffff;
}
.about-group {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  height: 500px;
}
.about-group::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(30, 33, 44, 0.6);
}
.about-group__video {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}
.about-group__button--play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: none;
  background-color: #ff5a30;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.about-group__button--play-img {
  width: 26px;
  height: 26px;
  fill: #ffffff;
}
.about-group__button--mute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 32px;
  left: 32px;
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.12);
}
.about-group__button--mute-img {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */