/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.header {
  background-color: #ffffff;
  padding: 25px 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__nav {
  margin-left: -112px;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-width: 320px;
  min-height: 100%;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}

ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  cursor: pointer;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  overflow: visible;
  height: 0;
}

details, legend {
  display: block;
}

summary {
  display: list-item;
}

b, strong {
  font-weight: bolder;
}

button {
  background-color: transparent;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: none;
  border: 0;
}
input::-ms-clear, input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

textarea, select {
  font-family: inherit;
  font-size: inherit;
}

progress {
  vertical-align: baseline;
}

img, svg, video {
  display: inline-block;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
[class*=__container] {
  max-width: 1222px;
  max-height: inherit;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 46px;
  color: #1e212c;
}
.title--center {
  text-align: center;
}
.title--pb {
  padding-bottom: 24px;
}

.description {
  font-weight: 400;
  font-size: 18px;
  color: #787a80;
  line-height: 150%;
  letter-spacing: 0;
  text-align: center;
}

.section__offset {
  padding: 120px 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}
.nav-item__link {
  font-weight: 700;
  font-size: 16px;
  color: #424551;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts-link {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  padding-left: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.contacts-link:not(:last-child) {
  margin-right: 35px;
}
.contacts-link__subtitle {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  color: #424551;
}
.contacts-link__value {
  font-weight: 400;
  font-size: 18px;
  color: #424551;
}

#contactImgCall {
  background-image: url("../img/iphone.svg");
}

#contactImgTalk {
  background-image: url("../img/chat.svg");
}

.main-content__title {
  font-weight: 700;
  font-size: 72px;
  color: #1e212c;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main-content__title:not(:last-child) {
  margin-bottom: 25px;
}
.main-content__title--white {
  color: #ffffff;
}
.main-content__text {
  font-weight: 400;
  font-size: 20px;
  color: #787a80;
  line-height: 150%;
  letter-spacing: 1px;
}
.main-content__text:not(:last-child) {
  margin-bottom: 60px;
}
.main-content__text--white {
  color: #ffffff;
}

.btn {
  border-color: transparent;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  padding: 16px 36px;
}
.btn__text {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  line-height: 0;
  letter-spacing: 0.5px;
}
.btn__text--orange {
  font-weight: 700;
  font-size: 14px;
  color: #ff5a30;
}
.btn-fill {
  background-color: #ff5a30;
}
.btn-fill--form {
  padding: 12px 29px;
}
.btn-fill:hover {
  border-color: #ff5a30;
  background-color: transparent;
}
.btn-fill:hover .btn-fill__text {
  color: #ff5a30;
}
.btn-stroke--white {
  border-color: #ffffff;
}
.btn-stroke:not(:last-child) {
  margin-right: 25px;
}

.form {
  background-color: #ffffff;
  border-radius: 4px;
}
.form__title {
  font-weight: 700;
  font-size: 28px;
  color: #1e212c;
}
.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.form-field__caption {
  font-weight: 400;
  font-size: 14px;
  color: #424551;
}
.form-field__caption:not(:last-child) {
  margin-bottom: 8px;
}
.form-field__input {
  border-color: #d7dadd;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  max-width: 246px;
  max-height: 44px;
  width: 100vh;
  height: 100vh;
  margin-right: 24px;
  padding: 0 15px;
}
.form-field__input--big {
  max-width: 399px;
  max-height: 44px;
}

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider-nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: #424551;
  border-radius: 100%;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slider-nav__btn:not(:last-child) {
  margin-right: 10px;
}
.slider-btn__img {
  width: 24px;
  height: 24px;
  fill: currentColor;
  -o-object-fit: color;
  object-fit: color;
  display: block;
  color: inherit;
}
.slider-btn__img--left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slider-btn:hover {
  color: #ffffff;
  background-color: #ff5a30;
}

.about-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 80px;
}
.about-more__subtitle {
  font-weight: 700;
  font-size: 28px;
  color: #1e212c;
  margin-right: 40px;
}

.circle {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  content: "";
}
.circle__el {
  -webkit-transform: rotate(-90deg) translateX(24px);
  -ms-transform: rotate(-90deg) translateX(24px);
  transform: rotate(-90deg) translateX(24px);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

#circleOrange {
  stroke: #f89828;
}

#circleBgOrange {
  stroke: #f89828;
  opacity: 0.3;
}

#circlePurple {
  stroke: #f52f6e;
}

#circleBgPurple {
  stroke: #f89828;
  opacity: 0.3;
}

#circleBlue {
  stroke: #5a87fc;
}

#circleBgBlue {
  stroke: #f89828;
  opacity: 0.3;
}

#circleGreen {
  stroke: #03cea4;
}

#circleBgGreen {
  stroke: #f89828;
  opacity: 0.3;
}

.article-content {
  -webkit-box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 4px 4px -4px rgba(30, 33, 44, 0.03);
  box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 4px 4px -4px rgba(30, 33, 44, 0.03);
  background-color: #ffffff;
  padding: 24px;
}
.article-content__name {
  font-weight: 700;
  font-size: 20px;
  color: #1e212c;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.article-content__name:hover {
  color: #ff5a30;
}
.article-content__text {
  font-weight: 400;
  font-size: 16px;
  color: #1e212c;
}
.article-content--padding {
  padding: 16px 24px;
}
.article-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
}
.article-items__el {
  font-weight: 400;
  font-size: 14px;
  color: #787a80;
  position: relative;
}
.article-items__el:not(:last-child) {
  padding-right: 12px;
}
.article-items__el:not(:first-child) {
  padding-left: 12px;
}
.article-items__el:not(:first-child)::after {
  width: 1px;
  height: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 2px;
  position: absolute;
  content: "";
  background-color: #787a80;
}
.article-items--pb {
  padding-bottom: 0;
}

.project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
}
.project-content__title {
  font-weight: 700;
  font-size: 20px;
  color: #1e212c;
}
.project-content__description {
  font-weight: 400;
  font-size: 14px;
  color: #787a80;
  display: inline-block;
  margin: 10px 0 24px;
}
.project-content__btn {
  width: 100%;
  height: 44px;
  max-width: 172px;
  max-height: inherit;
  border-color: #ff5a30;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  padding: 0 32px;
}
.project-content__btn:hover {
  background-color: #ff5a30;
}
.project-content__btn:hover .btn__text--orange {
  color: #ffffff;
}

.about {
  background-color: #ffffff;
  padding-bottom: 60px;
}
.about-group {
  width: 100%;
  height: 500px;
  margin-top: 60px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.about-group::before {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  content: "";
  z-index: 5;
  background-color: rgba(30, 33, 44, 0.6);
}
.about-group__video {
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
}
.about-group__button {
  z-index: 10;
  border: none;
  border-radius: 100%;
}
.about-group__button--play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  left: 50%;
  right: 0;
  bottom: 0;
  top: 50%;
  position: absolute;
  content: "";
  background-color: #ff5a30;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.about-group__button--play-img {
  width: 26px;
  height: 26px;
  fill: #ffffff;
  -o-object-fit: none;
  object-fit: none;
}
.about-group__button--mute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  left: 32px;
  right: inherit;
  bottom: 32px;
  top: inherit;
  position: absolute;
  content: "";
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.12);
}
.about-group__button--mute-img {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  -o-object-fit: none;
  object-fit: none;
}

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/hero-bg.jpg");
}
.hero--home {
  background-color: #424551;
}
.hero-content {
  max-width: 630px;
  max-height: inherit;
  padding-top: 217px;
}
.hero-content__title--orange {
  color: #ff5a30;
}

.mission {
  background-color: #ffffff;
  padding-bottom: 0;
}
.mission__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 188px;
  padding-top: 60px;
}
.mission-item {
  padding-top: 70px;
  text-align: center;
  position: relative;
  background-size: 48px 48px;
  background-repeat: no-repeat;
  background-position: top center;
}
.mission-item:not(:last-child)::after {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1px;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  right: -94px;
  background-image: url("../img/mission/divider.svg");
}
.mission-item__subtitle {
  font-weight: 700;
  font-size: 20px;
  color: #1e212c;
}
.mission-item__subtitle:not(:last-child) {
  margin-bottom: 10px;
}
.mission-item__text {
  font-weight: 400;
  font-size: 16px;
  color: #424551;
  line-height: 160%;
  letter-spacing: 0;
}
.mission-form {
  left: 0;
  right: 0;
  bottom: 0;
  top: 92px;
  position: relative;
  content: "";
  padding: 60px 60px 36px;
}
.mission-form__title {
  text-align: center;
}
.mission-form__title:not(:last-child) {
  padding-bottom: 32px;
}
.mission-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

#missionImgQuality {
  background-image: url("../img/mission/quality.svg");
}

#missionImgSafety {
  background-image: url("../img/mission/safety.svg");
}

#missionImgComfort {
  background-image: url("../img/mission/comfort.svg");
}

.services {
  background-image: url("../img/services-bg.jpg");
  padding-top: 212px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.services-list {
  gap: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  padding: 60px 0 0;
}
.services-list__item {
  border-color: #e5e8ed;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  position: relative;
  -webkit-box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 4px 4px -4px rgba(30, 33, 44, 0.03);
  box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 4px 4px -4px rgba(30, 33, 44, 0.03);
  background-color: #ffffff;
}
.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 90px 10px;
}
.services-item__content {
  text-align: center;
  z-index: 10;
}
.services-item__img {
  width: 52px;
  height: 52px;
  fill: #ff5a30;
  -o-object-fit: cover;
  object-fit: cover;
}
.services-item__subtitle {
  font-weight: 700;
  font-size: 20px;
  color: #1e212c;
  margin-top: 25px;
}
.services-item:before {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  content: "";
  z-index: 3;
  opacity: 0;
  border-radius: 4px;
  background-image: url("../img/services-item-bg.jpg");
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.services-item:after {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  content: "";
  z-index: 5;
  opacity: 0;
  border-radius: 4px;
  background-color: rgba(30, 33, 44, 0.6);
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.services-item:hover:before, .services-item:hover:after {
  border-radius: 4px;
  opacity: 1;
}
.services-item:hover .services-item__img {
  fill: #ffffff;
}
.services-item:hover .services-item__subtitle {
  color: #ffffff;
}

.portfolio {
  background-color: #ffffff;
}
.portfolio-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 48px;
}
.portfolio-head__title {
  line-height: 130%;
  letter-spacing: 0;
  max-width: 710px;
  max-height: inherit;
  padding-bottom: 12px;
}

.partners {
  background-color: #e5e8ed;
  padding: 80px 0 50px;
}
.partners__list {
  padding-top: 60px;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  display: -ms-grid;
  display: grid;
  gap: 102px;
}
.partners-item__img {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.partners-item__img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.testimonials {
  background-color: #e5e8ed;
}
.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.testimonials-block:first-child {
  padding: 0 15px 0 0;
}
.testimonials-block__img {
  left: auto;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  content: "";
  padding-bottom: 60px;
}
.testimonials-content {
  max-width: 600px;
  max-height: auto;
  padding: 60px 0 0;
}
.testimonials-content__text {
  font-weight: 400;
  font-size: 16px;
  color: #1e212c;
  line-height: 160%;
  letter-spacing: 0;
  padding: 24px 0;
}
.testimonials-content__author {
  font-weight: 700;
  font-size: 16px;
  color: #1e212c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.testimonials-content__author--position {
  font-weight: 400;
  font-size: 14px;
  color: #787a80;
  padding: 8px 0 0;
}

.facts {
  padding: 220px 0 0;
}
.facts__title {
  padding-bottom: 60px;
}
.facts__list {
  max-width: 735px;
  max-height: auto;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 48px;
}
.facts-content {
  width: 148px;
  height: 148px;
  position: relative;
}
.facts-content__value {
  left: 50%;
  right: auto;
  bottom: auto;
  top: 50%;
  position: absolute;
  content: "";
  font-weight: 700;
  font-size: 32px;
  color: #1e212c;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.facts-content__text {
  left: 0;
  right: 0;
  bottom: 0;
  top: 165px;
  position: absolute;
  content: "";
  font-weight: 400;
  font-size: 14px;
  color: #1e212c;
  white-space: nowrap;
  text-align: center;
}

.news-list {
  padding-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: ()[2];
  grid-template-rows: repeat(2);
  gap: 30px;
}
.news-list__item {
  -ms-grid-column-span: 5;
  grid-column: 5 span;
}
.news-list__item:first-child {
  -ms-grid-column-span: 7;
  grid-column: 7 span;
  -ms-grid-row-span: 2;
  grid-row: 2 span;
}
.news-list__article {
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */