.about {
  background-color: $white;
  padding-bottom: 60px;

  &-group {
    @include wh(100%, 500px);

    margin-top: 60px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    &__video {
      @include video(cover, block, 100%, 100%);
    }

    &__button {
      z-index: 10;
      border: none;
      border-radius: 100%;

      &--play {
        @include flexAllCenter;
        @include wh(80px, 80px);
        @include position(50%, 0, 0, 50%, absolute);

        background-color: $orange;
        transform: translate(-50%, -50%);

        &-img {
          @include imgSprite(26px, 26px, $white, none);
        }
      }

      &--mute {
        @include flexAllCenter;
        @include position(32px, inherit, 32px, inherit, absolute);

        background-color: rgba($white, 0.12);

        &-img {
          @include imgSprite(20px, 20px, $white, none);
        }
      }
    }
  }
}

.about {
  &-group {
    &::before {
      @include position(0, 0, 0, 0, absolute);

      z-index: 5;
      background-color: rgba($black, 0.6);
    }
  }
}
