.hero {
  @include bgCover;

  background-image: url('../img/bg/hero-bg.jpg');

  &--home {
    background-color: $gray;
  }

  &-content {
    @include maxWmaxH(630px, inherit);

    padding-top: 217px;

    &__title {
      &--orange {
        color: $orange;
      }
    }
  }
}
