.mission {
  background-color: $white;
  padding-bottom: 0;

  &__list {
    @include grid(calc($missionGap * 2));

    grid-template-columns: repeat(3, 1fr);
    padding-top: 60px;
  }

  &-item {
    text-align: center;
    padding-top: 70px;
    position: relative;
    background-size: 48px 48px;
    background-repeat: no-repeat;
    background-position: top center;

    &:not(:last-child) {
      &::after {
        @include bgCover;
        @include wh(1px, 100%);
        @include position(auto, calc(-1 * $missionGap), 0, auto, absolute);

        background-image: url('../img/mission/divider.svg');
      }
    }

    &__subtitle {
      @include text(700, 20px, $black);

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__text {
      @include text(400, 16px, $gray);
      @include lineHletterS(160%, 0);
    }
  }

  &-form {
    @include position(0, 0, 0, 92px, relative);

    padding: 60px 60px 36px;

    &__title {
      text-align: center;

      &:not(:last-child) {
        padding-bottom: 32px;
      }
    }
  }
}

#missionImgQuality {
  background-image: url('../img/mission/quality.svg');
}

#missionImgSafety {
  background-image: url('../img/mission/safety.svg');
}

#missionImgComfort {
  background-image: url('../img/mission/comfort.svg');
}
