.portfolio {
  background-color: $white;

  &-head {
    @include flexEndBet;

    margin-bottom: 48px;

    &__title {
      @include lineHletterS(130%, 0);
      @include maxWmaxH(710px, inherit);

      padding-bottom: 12px;
    }
  }
}
