.about {
  background-color: $white;
  padding-bottom: 60px;

  &-group {
    @include wh(100%, 500px);

    position: relative;
    overflow: hidden;
    border-radius: 4px;

    &::before {
      @include position(0, 0, 0, 0);

      content: '';
      z-index: 5;
      position: absolute;
      background-color: rgba($black, 0.6);
    }

    &__video {
      @include video(cover, block, 100%, 100%);
    }

    &__button {
      z-index: 10;
      border: none;
      position: absolute;
      border-radius: 100%;

      &--play {
        @include flexAllCenter;
        @include wh(80px, 80px);
        @include position(50%, 0, 0, 50%);

        background-color: $orange;
        transform: translate(-50%, -50%);

        &-img {
          @include imgSprite(26px, 26px, $white, none);
        }
      }

      &--mute {
        @include flexAllCenter;
        @include wh(40px, 40px);
        @include position(32px, inherit, 32px, inherit);

        border-radius: 100%;
        background-color: rgba($white, 0.12);

        &-img {
          @include imgSprite(20px, 20px, $white, none);
        }
      }
    }
  }
}
