.mission {
  background-color: $white;
  padding-bottom: 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc($missionGap * 2);
  }

  &-item {
    position: relative;
    text-align: center;
    padding-top: 70px;
    background-size: 48px 48px;
    background-repeat: no-repeat;
    background-position: top center;

    &:not(:last-child) {
      &:after {
        @include bgCover;
        @include wh(1px, 100%);

        content: '';
        position: absolute;
        top: 0;
        right: calc(-1 * $missionGap);
        background-image: url('../img/mission/divider.svg');
      }
    }

    &__subtitle {
      @include text(700, 20px, $black);

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__text {
      @include text(400, 16px, $gray);
      @include lineHletterS(160%, 0);
    }

    &--quality {
      background-image: url('../img/mission/quality.svg');
    }

    &--safety {
      background-image: url('../img/mission/safety.svg');
    }

    &--comfort {
      background-image: url('../img/mission/comfort.svg');
    }
  }
}
