.services {
  background-image: url('../img/services-bg.jpg');
  padding-top: 212px;

  @include bgCover;

  &-list {
    @include grid(30px);

    grid-template-columns: repeat(4, 1fr);
    padding: 60px 0 0;

    &__item {
      @include border($grayAthens, solid, 4px, 1px);

      position: relative;
      box-shadow: $boxShadowBlack;
      background-color: $white;
    }
  }

  &-item {
    @include flexColCenter;

    padding: 90px 10px;

    &__content {
      text-align: center;
      z-index: 10;
    }

    &__img {
      @include imgSprite(52px, 52px, $orange, cover);
    }

    &__subtitle {
      @include text(700, 20px, $black);

      margin-top: 25px;
    }
  }
}

.services {
  &-item {
    &:before {
      @include position(0, 0, 0, 0, absolute);

      z-index: 3;
      opacity: 0;
      border-radius: 4px;
      background-image: url('../img/services-item-bg.jpg');
      transition: opacity 0.3s ease-in-out;
    }

    &:after {
      @include position(0, 0, 0, 0, absolute);

      z-index: 5;
      opacity: 0;
      border-radius: 4px;
      background-color: rgba($black, 0.6);
      transition: opacity 0.3s ease-in-out;
    }

    &:hover {
      &:before, &:after {
        border-radius: 4px;
        opacity: 1;
      }

      .services-item {
        &__img {
          fill: $white;
        }

        &__subtitle {
          color: $white;
        }
      }
    }
  }
}
