<address class="footer-content address">
  <h3 class="footer-content__subtitle address__subtitle">
    head office
  </h3>
  <ul class="address__list">
    <li class="address-item">
      <span class="address-item__subtitle">Address:</span>
      <a href="#" class="address-item__link">
        8502 Preston Rd. Inglewood, New York
      </a>
    </li>
    <li class="address-item">
      <span class="address-item__subtitle">Call:</span>
      <a href="tel:4055550128" class="address-item__link">
        (405) 555-0128
      </a>
    </li>
    <li class="address-item">
      <span class="address-item__subtitle">Email:</span>
      <a href="mailto:hello@createx.com" class="address-item__link">
        hello@createx.com
      </a>
    </li>
  </ul>
</address>
<address class="footer-content address">
  <h3 class="footer-content__subtitle address__subtitle">
    who we are
  </h3>
  <ul class="address__list">
    <li class="address-item">
      <a href="#" class="address-item__link">About us</a>
    </li>
    <li class="address-item">
      <a href="#" class="address-item__link">Available Positions</a>
    </li>
    <li class="address-item">
      <a href="#" class="address-item__link">Contacts</a>
    </li>
  </ul>
</address>
<address class="footer-content address">
  <h3 class="footer-content__subtitle address__subtitle">
    our experience
  </h3>
  <ul class="address__list">
    <li class="address-item">
      <a href="#" class="address-item__link">Services</a>
    </li>
    <li class="address-item">
      <a href="#" class="address-item__link">Work</a>
    </li>
    <li class="address-item">
      <a href="#" class="address-item__link">News</a>
    </li>
  </ul>
</address>
