<h3 class="footer-content__subtitle connection-form__subtitle">
  Let’s stay in touch
</h3>
<label class="form-field connection-form__label">
  <input type="text" name="email" placeholder="Your email address"
    class="form-field__input form-field__input--connect connection-form__input">
  <button type="submit" class="btn btn-fill connection-form__btn">
    <span class="btn__text btn-fill__text">subscribe</span>
  </button>
</label>
<p class="footer-content__description footer-content__description--info connection__description">
  *Subscribe to our newsletter to receive communications and early updates from Createx Construction Bureau.
</p>
