<ul class="social__list">
  <li class="social-item">
    <a href="#" class="social-item__link">
      <img src="img/logo-white.svg" class="social-item__logo" alt="logo">
    </a>
  </li>
  <li class="social-item">
    <a href="#" class="social-item__link" target="_blank" aria-label="WhatsApp">
      <svg class="social-item__img">
        <use xlink:href="img/sprite.svg#whatsapp"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a href="#" class="social-item__link" target="_blank" aria-label="Messenger">
      <svg class="social-item__img">
        <use xlink:href="img/sprite.svg#messenger"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a href="#" class="social-item__link" target="_blank" aria-label="Facebook">
      <svg class="social-item__img">
        <use xlink:href="img/sprite.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a href="#" class="social-item__link" target="_blank" aria-label="Twitter">
      <svg class="social-item__img">
        <use xlink:href="img/sprite.svg#twitter"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a href="#" class="social-item__link" target="_blank" aria-label="YouTube">
      <svg class="social-item__img">
        <use xlink:href="img/sprite.svg#youtube"></use>
      </svg>
    </a>
  </li>
</ul>
<p class="footer-content__description social__description">
  Createx Construction Bureau has been successfully operating in the USA construction market since 2000.
  We are proud to offer you quality construction and exemplary service.
  Our mission is to set the highest standards for construction sphere.
</p>
