<header class="header">
  <div class="header__container">
    <a href="#" class="logo">
      <img src="img/logo.svg" class="logo__img" alt="logo">
    </a>
    <nav class="nav header__nav">
      <ul class="nav__list">
        <li class="nav-item">
          <a href="#" class="nav-item__link">About Us</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-item__link">Services</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-item__link">Work</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-item__link">News</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-item__link">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-contacts">
      <a id="contactImgCall" href="tel:4055550128" class="contacts-link ">
        <span class="contacts-link__subtitle">Call us</span>
        <span class="contacts-link__value">(405) 555-0128</span>
      </a>
      <a id="contactImgTalk" href="mailto:hello@createx.com" class="contacts-link">
        <span class="contacts-link__subtitle">Talk to us</span>
        <span class="contacts-link__value">hello@createx.com</span>
      </a>
    </div>
  </div>
</header>
