<div class="partners__container">
  <h2 class="title title--center">Supported by 12+ partners</h2>
  <ul class="partners__list">
    <li class="partners-item">
      <a href="#" class="partners-item__link">
        <img src="img/partners/indepth.png" alt="logo partner" class="partners-item__img">
      </a>
    </li>
    <li class="partners-item">
      <a href="#" class="partners-item__link">
        <img src="img/partners/higher-fit.png" alt="logo partner" class="partners-item__img">
      </a>
    </li>
    <li class="partners-item">
      <a href="#" class="partners-item__link">
        <img src="img/partners/sentinal.png" alt="logo partner" class="partners-item__img">
      </a>
    </li>
    <li class="partners-item">
      <a href="#" class="partners-item__link">
        <img src="img/partners/happy-home.png" alt="logo partner" class="partners-item__img">
      </a>
    </li>
    <li class="partners-item">
      <a href="#" class="partners-item__link">
        <img src="img/partners/for-sale.png" alt="logo partner" class="partners-item__img">
      </a>
    </li>
  </ul>
</div>
