<div class="news__container">
  <div class="title title--center">Recent news</div>
  <ul class="news-list">
    <li class="news-list__item">
      <article class="news-list__acticle article-news">
        <img src="img/news/news-1.jpg" alt="article image" class="article-news__img">
        <div class="article-content">
          <a href="#" class="article-content__name">How to Build Climate Change-Resilient Infrastructure</a>
          <div class="article-items">
            <a href="#" class="article-items__el article-items__el--links">Industry News</a>
            <time class="article-items__el article-items__el--time" datetime="2020-06-24 20:00">June 24, 2020</time>
            <span href="#" class="article-items__el article-items__el--comments">4 comments</span>
          </div>
          <p class="article-content__text">
            Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus.
            Tincidunt aliquet sit vel, venenatis nulla.
            Integer bibendum turpis convallis enim, nibh convallis...
          </p>
        </div>
      </article>
    </li>
    <li class="news-list__item">
      <article class="news-list__acticle article-news">
        <img src="img/news/news-2.jpg" alt="article image" class="article-news__img">
        <div class="article-content article-content--padding">
          <a href="#" class="article-content__name">How Construction Can Help Itself</a>
          <div class="article-items article-items--pb">
            <a href="#" class="article-items__el article-items__el--links">Innovation</a>
            <time class="article-items__el article-items__el--time" datetime="2020-06-12 20:00">June 12, 2020</time>
            <span href="#" class="article-items__el article-items__el--comments">No comments</span>
          </div>
        </div>
      </article>
    </li>
    <li class="news-list__item">
      <article class="news-list__acticle article-news">
        <img src="img/news/news-3.jpg" alt="article image" class="article-news__img">
        <div class="article-content article-content--padding">
          <a href="#" class="article-content__name">Types of Flooring Materials</a>
          <div class="article-items article-items--pb">
            <a href="#" class="article-items__el article-items__el--links">Company News</a>
            <time class="article-items__el article-items__el--time" datetime="2019-12-01 20:00">December 1, 2019</time>
            <span href="#" class="article-items__el article-items__el--comments">No comments</span>
          </div>
        </div>
      </article>
    </li>
  </ul>
  <div class="about-more">
    <h3 class="about-more__subtitle">Explore all our news posts</h3>
    <button type="button" class="btn btn--fill">
      <span class="btn__text">view all news</span>
    </button>
  </div>
</div>
