<div class="contact__container">
  <form action="#" class="form contact-form">
    <h2 class="form__title contact-form__title">A quick way to discuss details</h2>
    <div class="form__content form__content--column contact-form__content">
      <label class="form-field form-field--mb">
        <span class="form-field__caption">Name*</span>
        <input type="text" class="form-field__input form-field__input--big" placeholder="Your name">
      </label>
      <label class="form-field form-field--mb">
        <span class="form-field__caption">Phone*</span>
        <input type="text" class="form-field__input form-field__input--big" placeholder="Your phone number">
      </label>
      <label class="form-field form-field--mb">
        <span class="form-field__caption">Email</span>
        <input type="text" class="form-field__input form-field__input--big" placeholder="Your working email">
      </label>
      <label class="form-field form-field--mb">
        <span class="form-field__caption">Message*</span>
        <textarea type="text" class="form-field__textarea" name="message" placeholder="Your message"></textarea>
      </label>
      <label class="checkbox form-field__checkbox">
        <input type="checkbox" class="checkbox__input" name="checkbox" checked>
        <span class="checkbox__text">I agree to receive communications from Createx Construction Bureau.</span>
      </label>
    </div>
    <div class="contact-form__btn">
      <button type="submit" class="btn btn-fill">
        <span class="btn__text btn-fill__text">send request</span>
      </button>
    </div>
  </form>
</div>
