<div class="facts__container">
  <h2 class="facts__title title title--center">Some facts and figures</h2>
  <ul class="facts__list">
    <li class="facts__item">
      <div class="facts-content">
        <span class="facts-content__value" data-percentage="true" data-value="20"></span>
        <svg class="circle" viewBox="-10 -10 320 320">
          <circle id="circleBgOrange" class="circle__el--bg" r="150" cx="150" cy="150" fill="none" stroke-width="15">
          </circle>
          <circle id="circleOrange" class="circle__el" r="150" cx="150" cy="150" fill="none" stroke-width="15">
          </circle>
        </svg>
        <p class="facts-content__text">Totallly satisfied clients</p>
      </div>
    </li>
    <li class="facts__item">
      <div class="facts-content">
        <span class="facts-content__value" data-value="20"></span>
        <svg class="circle" viewBox="-10 -10 320 320">
          <circle id="circleBgPurple" class="circle__el--bg" r="150" cx="150" cy="150" fill="none" stroke-width="15">
          </circle>
          <circle id="circlePurple" class="circle__el" r="150" cx="150" cy="150" fill="none" stroke-width="15">
          </circle>
        </svg>
        <p class="facts-content__text">Years of experience</p>
      </div>
    </li>
    <li class="facts__item">
      <div class="facts-content">
        <span class="facts-content__value" data-value="9452"></span>
        <svg class="circle" viewBox="-10 -10 320 320">
          <circle id="circleBgBlue" class="circle__el--bg" r="150" cx="150" cy="150" fill="none" stroke-width="15">
          </circle>
          <circle id="circleBlue" class="circle__el" r="150" cx="150" cy="150" fill="none" stroke-width="15">
          </circle>
        </svg>
        <p class="facts-content__text">Working hours spent</p>
      </div>
    </li>
    <li class="facts__item">
      <div class="facts-content">
        <span class="facts-content__value" data-percentage="true" data-value="100"></span>
        <svg class="circle" viewBox="-10 -10 320 320">
          <circle id="circleBgGreen" class="circle__el--bg" r="150" cx="150" cy="150" fill="none" stroke-width="15">
          </circle>
          <circle id="circleGreen" class="circle__el" r="150" cx="150" cy="150" fill="none" stroke-width="15">
          </circle>
        </svg>
        <p class="facts-content__text">Succeeded projects</p>
      </div>
    </li>
  </ul>
</div>
