<div class="portfolio__container">
  <div class="portfolio-head">
    <h2 class="portfolio-head__title title title--mb">
      Browse our selected projects and learn more about our work
    </h2>
    <div class="slider-nav">
      <button type="button" class="slider-nav__btn slider-btn slider-nav__btn--prev">
        <svg class="slider-btn__img slider-btn__img--left">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
      <button type="button" class="slider-nav__btn slider-btn slider-nav__btn--next">
        <svg class="slider-btn__img slider-btn__img--right">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="project-slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#" class="project-item">
          <img src="img/project/project-1.jpg" alt="project image" class="project-item__img">
          <div class="project-content">
            <h3 class="project-content__title">Red Finger Building</h3>
            <span class="project-content__description">Business Centers</span>
            <button type="button" class="project-content__btn btn">
              <span class="btn__text--orange">View Project</span>
            </button>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="project-item">
          <img src="img/project/project-1.jpg" alt="project image" class="project-item__img">
          <div class="project-content">
            <h3 class="project-content__title">Cubes Building</h3>
            <span class="project-content__description">Business Centers</span>
            <button type="button" class="project-content__btn btn">
              <span class="btn__text--orange">View Project</span>
            </button>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="project-item">
          <img src="img/project/project-3.jpg" alt="project image" class="project-item__img">
          <div class="project-content">
            <h3 class="project-content__title">The Pencil Building</h3>
            <span class="project-content__description">Stores & Malls</span>
            <button type="button" class="project-content__btn btn">
              <span class="btn__text--orange">View Project</span>
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
