<div class="portfolio__container">
  <div class="portfolio-head">
    <h2 class="portfolio-head__title title title--mb">
      Browse our selected projects and learn more about our work
    </h2>
    <div class="slider-nav">
      <button type="button" class="slider-nav__btn slider-btn slider-nav__prev">
        <svg class="slider-btn__img slider-btn__img--left">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
      <button type="button" class="slider-nav__btn slider-btn slider-nav__next">
        <svg class="slider-btn__img slider-btn__img--right">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
