<div class="portfolio__container">
  <div class="portfolio-head">
    <h2 class="portfolio-head__title title title--mb">
      Browse our selected projects and learn more about our work
    </h2>
    <div class="slider-nav">
      <button type="button" class="slider-nav__btn slider-btn slider-nav__btn--prev">
        <svg class="slider-btn__img slider-btn__img--left">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
      <button type="button" class="slider-nav__btn slider-btn slider-nav__btn--next">
        <svg class="slider-btn__img slider-btn__img--right">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="portfolio-slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
  </div>
</div>
