<div class="testimonials__container">
  <div class="testimonials-block">
    <h2 class="title title--mb">What our clients are saying</h2>
    <div class="testimonials-content">
      <img src="img/profile.png" alt="profile avatar" class="testimonials-content__img">
      <p class="testimonials-content__text">
        Ipsum aute sunt aliquip aute et occaecat.
        Anim minim do cillum eiusmod enim.
        Consectetur magna cillum consequat minim
        laboris cillum laboris voluptate minim proident exercitation ullamco.
      </p>
      <p class="testimonials-content__author">
        Shawn Edwards
        <span class="testimonials-content__author--position">
          Position, Company name
        </span>
      </p>
    </div>
  </div>
  <div class="testimonials-block">
    <img src="img/testimonial-image.jpg" alt="testimonial image" class="testimonials-block__img">
  </div>
</div>
