<div class="hero__container">
  <div class="hero-content main-content">
    <h1 class="hero-content__title main-content__title main-content__title--white">
      Create<span class="hero-content__title--orange">x</span>
      Construction
    </h1>
    <p class="hero-content__text main-content__text main-content__text--white">
      Cras ultrices leo vitae non viverra.
      Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed.
      Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
    </p>
    <div class="hero-content__buttons">
      <button type="button" class="btn btn--stroke btn--stroke-white">
        <span class="btn__text btn--stroke__text">Learn more about us</span>
      </button>
      <button type="button" class="btn btn--fill btn--fill-primary">
        <span class="btn__text btn--fill__text">Submit Request</span>
      </button>
    </div>
  </div>
</div>
