<div class="services__container">
  <h2 class="title title--center title--pb">Our services</h2>
  <p class="description description--center">
    Createx Construction Bureau is a construction giant with a full range of construction services.
  </p>
  <ul class="services-list">
    <li class="services-list__item">
      <a href="#" class="services-item">
        <div class="services-item__content">
          <svg class="services-item__img" aria-hidden="true">
            <use xlink:href="img/sprite.svg#construction"></use>
          </svg>
          <h3 class="services-item__subtitle">Construction</h3>
        </div>
      </a>
    </li>
    <li class="services-list__item">
      <a href="#" class="services-item">
        <div class="services-item__content">
          <svg class="services-item__img" aria-hidden="true">
            <use xlink:href="img/sprite.svg#project"></use>
          </svg>
          <h3 class="services-item__subtitle">Project Development</h3>
        </div>
      </a>
    </li>
    <li class="services-list__item">
      <a href="#" class="services-item">
        <div class="services-item__content">
          <svg class="services-item__img" aria-hidden="true">
            <use xlink:href="img/sprite.svg#design"></use>
          </svg>
          <h3 class="services-item__subtitle">Interior Design</h3>
        </div>
      </a>
    </li>
    <li class="services-list__item">
      <a href="#" class="services-item">
        <div class="services-item__content">
          <svg class="services-item__img" aria-hidden="true">
            <use xlink:href="img/sprite.svg#repairs"></use>
          </svg>
          <h3 class="services-item__subtitle">Repairs</h3>
        </div>
      </a>
    </li>
  </ul>
  <div class="about-more">
    <h3 class="about-more__subtitle">Learn more about our services</h3>
    <button type="button" class="btn btn-fill">
      <span class="btn__text btn-fill__text">view services</span>
    </button>
  </div>
</div>
