[class*="__container"] {
  @include maxWmaxH(1222px, inherit);

  padding: 0 15px;
	margin: 0 auto;
}

.title {
  @include text(700, 46px, $black);

  &--center {
    text-align: center;
  }

  &--pb {
    padding-bottom: 24px;
  }
}

.description {
  @include text(400, 18px, $grayStorm);
  @include lineHletterS(150%, 0);

  text-align: center;
}

.section {
  &__offset {
    padding: 120px 0;
  }
}
