body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

[class*="__container"] {
	max-width: 1222px;
  padding: 0 15px;
	margin: 0 auto;
}

.title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 46px;
  color: $black;

  &--center {
    text-align: center;
  }

  &--mb {
    margin-bottom: 0;
  }
}

.description {
  margin-bottom: 60px;
  color: $grayStorm;
  font-weight: 400;
  font-size: 18px;

  &--center {
    text-align: center;
  }
}

.section {
  &__offset {
    padding: 120px 0 0;
  }
}
