$gray: #424551;
$white: #ffffff;
$black: #1e212c;
$orange: #ff5a30;
$grayStorm: #787a80;
$grayAthens: #e5e8ed;
$borderFormField: #d7dadd;
$bgInputColor: #f4f5f7;
$placeholderColor: #9a9ca5;
$inputFooter: rgba(255, 255, 255, 0.2);

// circle colors
$circleStrOrange: #f89828;
$circleStrPurple: #f52f6e;
$circleStrBlue: #5a87fc;
$circleStrGreen: #03cea4;

// gap
$missionGap: 94px;

// box shadow
$boxShadowBlack:
  0 80px 80px -20px rgba(154, 156, 165, 0.08),
  0 30px 24px -10px rgba(154, 156, 165, 0.05),
  0 12px 10px -6px rgba(154, 156, 165, 0.04),
  0 4px 4px -4px rgba(30, 33, 44, 0.03);

$boxShadowContact:
  0 60px 80px -20px rgba(30, 33, 44, 0.16),
  0 26px 24px -10px rgba(30, 33, 44, 0.1),
  0 12px 10px -6px rgba(30, 33, 44, 0.08),
  0 4px 4px -4px rgba(30, 33, 44, 0.05);
